[defaults]
interpreter_python      = /usr/bin/python3
inventory               = ./inventories/hosts.yaml
#ask_vault_pass          = yes

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no